
<nav class=" navbar navbar-expand-lg navbar-light vertical-menu">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="col-md-12 dashboard_form" id="navbarSupportedContent">


    <br>
      <a href="#" class="active text-white" routerLink="/">uploader un fichier csv</a>
      <a href="#" class="text-white" routerLink="/correlation" >correllations des variables</a>
      <a href="#" class="text-white" routerLink="/description" >Description des donnees  </a>

      <a href="#" class="text-white" routerLink="/acp">ACP</a>
      <a href="#" class="text-white"  routerLink="/afc">AFC</a>
      <a href="#" class="text-white">ACM </a>
      <a href="#" class="text-white" routerLink="/regression_lineaire">Regression lineaire </a>
      <a href="#" class="text-white" routerLink="/histogramme">histograme des variables  </a>
      <a href="#" class="text-white" routerLink="/histogramme-by-variable">histograme d'une variable</a>
     
      <!-- <a href="#" class="text-white" routerLink="/listsalaires">Gestion des salaries</a> -->

      <br><br><br><br><br><br><br><br><br><br><br><br>
  </div>
</nav>


